.btn-brand {
    border: 2px solid $third-color;
    border-radius: 5px;
    text-align: center;
    padding: 3rem 1.5rem;
    background-color: $fourth-color;
    color: $base-color;
    font-size: $x-small;
}