
/*Typo, Background colors*/

$general-back: #E5E5E5;
$base-color: #6E6D6D;
$primary-color: #C4C4C4;
$secondary-color:#EFEFEF; 
$third-color: #F1F1F1;
$fourth-color: #FFF;

/*Component colors*/
$aside-category: #E5E5E5;
$add-button-color: #FBE503;
$cart-button: #0642B0;