#cartButtonModal {
    padding: 0;
    margin: 0;
    .modal-dialog {
        .modal-content {
            padding: 0 2.5rem;
            border-bottom: 2px solid $secondary-color;
            .modal-header {
                border: none;
            }
 
            .modal-body {
             display: grid;
             grid-template-columns: 20% 60% 10%;
             column-gap: 30px;
 
                 .item-img {
                     border: 1px solid $secondary-color;
 
                     img {
                         width: 100%;
                     }
                 }
                 .item-body {
                     color: $primary-color;
                     text-align: center;
 
                     .yellow-button-group {
                         margin: 0 3rem;
                     }
                 }
 
                 .item-price {
                     color: $base-color;
                     font-size: $xx-small;
                 }
            }
 
            .modal-footer {
                text-align: center;
 
                .text {
                    p{
                     text-align: end;
                     color: $base-color;
                     
                     span {
                         font-weight: $medium;
                     }
                    }
                 }
 
                 .btn-blue {
                     background-color: $cart-button;
                     color: $fourth-color;
                     padding: 1rem 2rem;
                     font-weight: $medium
                 }
            }
        }
    }
}